.formOuter {
    background-image: url('https://images.unsplash.com/photo-1526289034009-0240ddb68ce3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80');
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
 .form {
    border: solid 1px;
    padding: 50px;
    background-color: #ffffffbe;
    border-radius: 5px;
}
.main {
    background-image: url('https://images.unsplash.com/photo-1563865436914-44ee14a35e4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main h1 {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 10vh;
}
.main h1 span {
    color: rgb(55, 55, 56);
    font-family: Georgia, 'Times New Roman', Times, serif;
}